JWT_SECRET=your_secret_here
MYSQL_DSN=user:password@tcp(mysql:port)/database?parseTime=true
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASS=password
REDIS_ADDR=redis:port
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=database
